[Unit]
Description=CSOT Demo App
After=network.target

[Service]
Type=simple
User=himanshu
WorkingDirectory=/home/himanshu/devops-toolkit-week01/app
ExecStart=/usr/bin/python3 /home/himanshu/devops-toolkit-week01/app/server.py
Restart=on-failure
RestartSec=3
Environment=PORT=8000
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
